<!DOCTYPE html>

<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		url = 'http://primor-prod.herokuapp.com/protected/trips';
		function createTrip(){
			var token = localStorage.getItem('jwt');
			var from = document.getElementById("from").value;
			var to = document.getElementById("to").value;
			var departureDate = document.getElementById("departureDate").value;
			var arrivalDate = document.getElementById("arrivalDate").value;

			var data = {
				from: 2,
				to: 1,
				departureDate: '11/3/2018',
				arrivalDate: '11/5/2018'
			}
			console.log(data);
			$.ajax({
				type: "POST",
				url: url,
				dataType: 'json',
				headers: {
					"jwt": token
				},
				data: data,
				success: function (res_data){
					console.log(res_data);
				}
			});
		}
	</script>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="create-trip-page-1.css">
		<link rel="stylesheet" type="text/css" href="../header/header.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Page Create Trip 1</title>
</head>

<body>
	<div class="body-wrapper">
		<div class="top-header">
			<div class="row my-header my-font">
				<div class="col span-1-of-2 main1">
					<ul>
						<li class="col span-1-of-8 header-box item1-container">
							<a href="../homepage-1/home-page-1.html" class="item1">
								<p>Primor</p>
							</a>
						</li>
						<li class="col span-1-of-8 header-box item2-container"><a href="../homepage-1/home-page-1.html" class="item2">About</a></li>
						<li class="col span-1-of-8 header-box item3-container"><a href="../homepage-1/home-page-1.html" class="item3">How It Works</a></li>
						<li class="col span-1-of-8 header-box item4-container"><a href="../homepage-1/home-page-1.html" class="item4">
									<img src="../../resources/assets/img/header-menu-bar-page/pon_logo.png" alt="">
					</a>
						</li>
						<li class="col span-1-of-8 header-box item5-container"><a href="../create-order-page-1/create-order-page-1.html" class="item5">Create Order</a></li>
						<li class="col span-1-of-8 header-box item6-container"><a href="../create-trip-page-1/create-trip-page-1.html" class="item6">Create Trip</a></li>
						<li class="col span-1-of-8 header-box item7-container">
							<div class="select-container">
								<select class="item7">
							<option value="English">EN</option>
							<option value="Vietnamese">VN</option>
						</select>
							</div>
						</li>

						<li class="col span-1-of-8 header-box item8-container">
							<a href="../buyer-manager-page/buyer-manager-page.html" class="item8">
								<!-- After Login -->
								<div class="user-avatar">
									<img src="../../resources/assets/img/global-reusable/user-chipupu.jpg" alt="">
								</div>
								<!-- Befor Login -->
								<!-- Log In</a> / <a href="#" class="item8">Sign Up</a> -->
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="body-container">
			<div class="top-text">
				<h2>
						CREATE TRIP
					</h2>
			</div>

			<div class="select-container left-col">

				<div class="col span-2-of-5">
					<p class="medium-text">From</p>
				</div>
				<div class="col span-3-of-5">
					<input type="text" readonly="true" placeholder="San Joe, CA, USA" id="from">
				</div>

			</div>
			<div class="select-container right-col">


				<div class="col span-2-of-5">
					<p class="medium-text">To</p>
				</div>
				<div class="col span-3-of-5">
					<input type="text" readonly="true" placeholder="Hanoi, Vietnam" id="to">
				</div>

			</div>

			<div class="select-container left-col">

				<div class="col span-2-of-5">
					<img src="../../resources/assets/img/create-trip-1/calendar.png" alt="">
					<p class="medium-text add-padding-left">Depart</p>
				</div>
				<div class="col span-3-of-5">
					<input type="text" readonly="true" placeholder="3 Nov 2018" id="departureDate">
				</div>

			</div>
			<div class="select-container right-col">
				<div class="col span-2-of-5">
					<img src="../../resources/assets/img/create-trip-1/calendar.png" alt="">
					<p class="medium-text add-padding-left">Return
						<p class="smaller-text">(optional)</p>
					</p>
				</div>
				<div class="col span-3-of-5">
					<input type="text" readonly="true" placeholder="5 Nov 2018" id="arrivalDate">
				</div>
			</div>

			<button class="my-button" >
					<a href="../create-trip-page-2/create-trip-page-2.html" onclick="createTrip()">Add Trip</a>
				</button>

		</div>
	</div>
</body>

</html>
