<!DOCTYPE HTML>

<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="header-menu-bar.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Header Menu Bar Page</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- Header -->
		<div class="row my-header">
			<div class="col span-1-of-2 main1">
				<ul>
					<li class="col span-1-of-7 header-box item1-container">
						<a href="" class="item1">
							<p>Primor</p>
						</a>
					</li>
					<li class="col span-1-of-7 header-box item2-container"><a href="../login/login.html" class="item2">About</a></li>
					<li class="col span-1-of-7 header-box item3-container"><a href="../login/login.html" class="item3">How It Works</a></li>
					<li class="col span-1-of-7 header-box item4-container"><a href="" class="item4">
								<img src="../../resources/assets/img/header-menu-bar-page/pon_logo.png" alt="">
				</a>
					</li>
					<li class="col span-1-of-7 header-box item5-container"><a href="../login/login.html" class="item5">Create Order</a></li>
					<li class="col span-1-of-7 header-box item6-container"><a href="../login/login.html" class="item6">Create Trip</a></li>
					<li class="col span-1-of-7 header-box item7-container">
						<div class="select-container">
							<select class="item7">
						<option value="English">EN</option>
						<option value="Vietnamese">VN</option>
					</select>
						</div>
					</li>
				</ul>
			</div>
			<div class="col span-1-of-2 main2 header-box item8-container">
				<a href="../login/login.html" class="item8">
					<div class="user-avatar">

					</div>
					Log In</a> / <a href="../login/login.html" class="item8">Sign Up</a>
			</div>
		</div>
		<!-- Mid Content -->
		<div class="row mid-container">
			<!-- Content Container -->
			<div class="col span-1-of-2 main1 content-container">
				<h1 class="title-text">PRIMOR</h1>

				<h1>"A platfrom
that connects buyers and shippers worldwide. </h1>
				<h1>Our service brings products from all around the wolrd to your </h1>
				<h1> doorsteps at any time you wish."</h1>
			</div>
			<!-- Menu Bar -->
			<div class="col span-1-of-2 main2 menu-container">
				<ul class="menu-list">
					<li class="menu-item-1">
						<a href="">
							<p>What Is Primor ?</p>
						</a>
					</li>
					<li class="menu-item-2">
						<a href="">
							<p>How It Works</p>
						</a>
					</li>
					<li class="menu-item-3">
						<a href="">
							<p>Become A Buyer</p>
						</a>
					</li>
					<li class="menu-item-4">
						<a href="">
							<p>Become A Shipper</p>
						</a>
					</li>
					<li class="menu-item-5">
						<a href="">
							<p>Trending Orders</p>
						</a>
					</li>
					<li class="menu-item-6">
						<a href="">
							<p>Top Rating Shippers</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>
