<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="home-page-4.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Home Page 4</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- TOP BODY CONTENT  -->
		<div class="section-features">
			<div class="row feature">
				<div class="col span-1-of-6 page-number">
					<h1>04</h1>
				</div>
				<div class="col span-4-of-6 right-side-text">
					<div>
						<h2>Become a Shipper</h2>
					</div>
					<div>
						<p class="intro-buyer">Too tired of being asked to get stuff for free? <br> Or just want to get some money? You are at a right place.
						</p>
					</div>
				</div>
			</div>
			<!-- BOTTOM BODY CONTENT  -->
			<div class="row-of-four">
				<div class="col span-1-of-4 box">
					<img src="../../resources/assets/img/home-page-4/creattrip.png" class="img">
					<div class="greeting-explain-text">
						<h3>Create Trip</h3>
						<p>Choose your destination and travel <br> date to get connected to customers.</p>
					</div>
				</div>
				<div class="col span-1-of-4 box">
					<img src="../../resources/assets/img/home-page-4/receiveorder.png" class="img">
					<div class="greeting-explain-text">
						<h3>Receive Order</h3>
						<p>
							After creating travel date, Primor will notify and connect you with all available orders.
						</p>
					</div>
				</div>
				<div class="col span-1-of-4 box">
					<img src="../../resources/assets/img/home-page-4/dealshipper.png" class="img">
					<div class="greeting-explain-text">
						<h3>Make a deal with Buyers</h3>
						<p>You then choose any order you <br> want, and make a deal with <br> our customers. </p>
					</div>
				</div>
				<div class="col span-1-of-4 box">
					<img src="../../resources/assets/img/home-page-4/getpaid.png" class="img">
					<div class="greeting-explain-text">
						<h3>Ship and Get Paid</h3>
						<p>It is as simple as that! Ship it on time with careful attention and get all the goods! </p>
					</div>
				</div>
			</div>
			<div class="btn-container">
				<a class="btn-explore" href="#">
					<p>Explore</p>
				</a>
			</div>
		</div>
		<!-- ARROW  -->
		<div class="row arrow-containter">
			<a href="#">
					<img src="../../resources/assets/img/home-page-4/2-down-arrow.png" alt="">
				</a>
		</div>
	</div>
</body>

</html>
