<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="home-page-3.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Home Page 3</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- TOP BODY CONTENT  -->
		<div class="section-features">
			<div class="row feature">
				<div class="col span-1-of-6 page-number">
					<h1>03</h1>
				</div>
				<div class="col span-4-of-6 right-side-text">
					<div>
						<h2>Become a Buyer</h2>
					</div>
					<div>
						<p class="intro-buyer">Hello, we are Primor, and we want to make your life easier. <br> We will get you what you want so let us take care of that, we promise!
						</p>
					</div>
				</div>
			</div>
			<!-- BOTTOM BODY CONTENT  -->
			<div class="row-of-three">
				<div class="col span-1-of-3 box">
					<img src="../../resources/assets/img/home-page-3/link.png" class="img">
					<div class="greeting-explain-text">
						<h3>Add URL</h3>
						<p>Just copy any link of product of any <br> website and paste it to create order.</p>
					</div>
				</div>
				<div class="col span-1-of-3 box">
					<img src="../../resources/assets/img/home-page-3/deal.png" class="img">
					<div class="greeting-explain-text">
						<h3>Make a deal with Shippers</h3>
						<p>
							After creating an order, you decide how <br> much you want to pay for your shippers. We <br> want to ensure that everyone using our <br> service will be happy!
						</p>
					</div>
				</div>
				<div class="col span-1-of-3 box">
					<img src="../../resources/assets/img/home-page-3/deliver.png" class="img">
					<div class="greeting-explain-text">
						<h3>Item is delivered</h3>
						<p>Your item will then be shipped to our <br> warehouse for authentication. After making sure it is in its best condition, Primor will send it to you. </p>
					</div>
				</div>
			</div>
			<div class="btn-container">
				<a class="btn-explore" href="#">
					<p>Explore</p>
				</a>
			</div>
		</div>
		<!-- ARROW  -->
		<div class="row arrow-containter">
			<a href="#">
					<img src="../../resources/assets/img/home-page-3/2-down-arrow.png" alt="">
				</a>
		</div>
	</div>
</body>

</html>
