<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="create-trip-page-4.css">
	<link rel="stylesheet" type="text/css" href="../header/header.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Page Create Trip 4</title>
</head>

<body>
	<div class="body-wrapper">
		<div class="top-header">
			<div class="row my-header my-font">
				<div class="main1">
					<ul>
						<li class="col span-1-of-8 header-box item1-container">
							<a href="" class="item1">
								<p>Primor</p>
							</a>
						</li>
						<li class="col span-1-of-8 header-box item2-container"><a href="" class="item2">About</a></li>
						<li class="col span-1-of-8 header-box item3-container"><a href="" class="item3">How It Works</a></li>
						<li class="col span-1-of-8 header-box item4-container fix-logo"><a href="" class="item4">
									<img src="../../resources/assets/img/header-menu-bar-page/pon_logo.png" alt="">
					</a>
						</li>
						<li class="col span-1-of-8 header-box item5-container"><a href="" class="item5">Create Order</a></li>
						<li class="col span-1-of-8 header-box item6-container"><a href="" class="item6">Create Trip</a></li>
						<li class="col span-1-of-8 header-box item7-container">
							<div class="select-container">
								<select class="item7">
							<option value="English">EN</option>
							<option value="Vietnamese">VN</option>
						</select>
							</div>
						</li>
						<li class="col span-1-of-8 header-box item8-container">
							<a href="#" class="item8">
								<!-- After Login -->
								<div class="user-avatar">
									<img src="../../resources/assets/img/global-reusable/user-chipupu.jpg" alt="">
								</div>
								<!-- Befor Login -->
								<!-- Log In</a> / <a href="#" class="item8">Sign Up</a> -->
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content-container">
			<div class="top-text-container">
				<h2 class="bold">
						NEW YORK TO VIETNAM
					</h2>
				<p class="bold">
					DECEMBER, 21ST, 2018
				</p>
			</div>
			<div class="main-content-container">
				<div class="col span-1-of-3 box add-color">
					<div class="user-avatar-1">
						<img src="../../resources/assets/img/global-reusable/user-chipupu.jpg" alt="">
					</div>
					<div class="user-name">
						<p class="regular">Chipu</p>
					</div>
					<div class="user-rating">
						<div class="star-container">
							<div class="star star1"></div>
							<div class="star star2"></div>
							<div class="star star3"></div>
							<div class="star star4"></div>
							<div class="star star5"></div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="basic-info">
						<p class="medium">From</p>
						<p class="light">Hanoi, Vietnam</p>
					</div>
					<div class="basic-info">
						<p class="medium">D.O.B</p>
						<p class="light">30/07/1998</p>
					</div>
					<div class="basic-info">
						<p class="medium">Description</p>
						<p class="light">Lorem ipsum dolor sit amet alok koa</p>
					</div>
				</div>
				<div class="col span-2-of-3 box add-color">
					<div class="col span-1-of-4 item-img add-color">
						<div class="temp-square-img"></div>
						<a class="img-link" href="">Product Link
						</a>
					</div>
					<div class="col span-3-of-4 item-info-container add-color">
						<div class="col span-2-of-5 item-category add-color">
							<p class="new-medium-font">Item Name</p>
							<p class="new-medium-font">Brand Name</p>
							<p class="new-medium-font">Product Fees</p>
							<p class="new-medium-font">Delivery Rewards</p>
							<p class="new-medium-font">Arrive Before</p>
							<p class="new-medium-font">Quantity</p>
							<p class="new-medium-font">Description</p>
						</div>
						<div class="col span-3-of-5 item-details add-color">
							<p class="new-light-font item-name">High Quality Pink Stick</p>
							<p class="new-light-font item-brand">Amazon</p>
							<p class="new-light-font item-price">$200</p>
							<p class="new-light-font shipper-reward">$20</p>
							<p class="new-light-font deadline">15th Oct 2018</p>
							<p class="new-light-font quantity">2</p>
							<p class="light description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit mauris mi, a suscipit mi posuere a. Nunc at odio fringilla, condimentum sem non, lacinia risus.
							</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="button-container">
				<div class="col span-1-of-3 button-box add-color">
					<button class="my-button blue">
								<p>Accept Order</p>
							</button>
				</div>
				<div class="col span-1-of-3 button-box add-color">
					<button class="my-button pink">
								<p>Deny</p>
							</button>
				</div>
				<div class="col span-1-of-3 button-box add-color">
					<button class="my-button grey">
								<p>Back To Order List</p>
							</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
