<!DOCTYPE html>

<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){

		});
	</script>
	<link rel="stylesheet" ty="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="buyer-manager-page.css">
	<link rel="stylesheet" type="text/css" href="../header/header.css">
	<link rel="stylesheet" type="text/css" href="../create-trip-page-3/create-trip-page-3.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>My Orders</title>
</head>

<body>
	<div class="body-wrapper">
		<div class="top-header">
			<div class="row my-header my-font">
				<div class="col span-1-of-2 main1">
					<ul>
						<li class="col span-1-of-8 header-box item1-container">
							<a href="../homepage-1/home-page-1.html" class="item1">
								<p>Primor</p>
							</a>
						</li>
						<li class="col span-1-of-8 header-box item2-container"><a href="../homepage-1/home-page-1.html" class="item2">About</a></li>
						<li class="col span-1-of-8 header-box item3-container"><a href="../homepage-1/home-page-1.html" class="item3">How It Works</a></li>
						<li class="col span-1-of-8 header-box item4-container"><a href="../homepage-1/home-page-1.html" class="item4">
									<img src="../../resources/assets/img/header-menu-bar-page/pon_logo.png" alt="">
					</a>
						</li>
						<li class="col span-1-of-8 header-box item5-container"><a href="../create-order-page-1/create-order-page-1.html" class="item5">Create Order</a></li>
						<li class="col span-1-of-8 header-box item6-container"><a href="../create-trip-page-1/create-trip-page-1.html" class="item6">Create Trip</a></li>
						<li class="col span-1-of-8 header-box item7-container">
							<div class="select-container">
								<select class="item7">
							<option value="English">EN</option>
							<option value="Vietnamese">VN</option>
						</select>
							</div>
						</li>

						<li class="col span-1-of-8 header-box item8-container">
							<a href="../buyer-manager-page/buyer-manager-page.html" class="item8">
								<!-- After Login -->
								<div class="user-avatar">
									<img src="../../resources/assets/img/global-reusable/user-chipupu.jpg" alt="">
								</div>
								<!-- Befor Login -->
								<!-- Log In</a> / <a href="#" class="item8">Sign Up</a> -->
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class="go-to-list-trip">
			<a href="../create-trip-page-2/create-trip-page-2.html" class="btn list-of-trip">
				Go to List of Trips
			</a>
		</div>

		<div class="trip-info">
			<p class="bold">My Orders</p>
		</div>
		<div class="body-container">
			<div class="top-img">
				<img src="../../resources/assets/img/buyer-manager-page/buyermanager.jpg" alt="">
			</div>

			<div class="row top-content">
				<div class="col box content-manager-1">
					<a href="" class="btn">
						3 Peding Requests
				</a>
				</div>
				<div class="col box content-manager-2">
					<a href="" class="btn">
						3 Accepted Requests
				</a>
				</div>
				<div class="col box content-manager-3">
					<a href="" class="btn">
						2 Received Requests
				</a>
				</div>
				<div class="col box content-manager-4">
					<a href="" class="btn">
						2 Denied Requests
				</a>
				</div>
			</div>

			<div class="row top-search">
				<div class="col span-1-of-2">
					<p class="all-requested-order">
						All Requested Order
					</p>
				</div>
				<div class="col span-1-of-2 search-option-container">
					<select class="minimal" name="search-option" id="">
						<option value="most-recent"> Most Recent</option>
						<option value="name">Name</option>
						<option value="price">Price</option>
					</select>
				</div>
			</div>

			<div class="order-content">

								<div class="main-container">


									<div class="mid-content">
										<div class="trip trip-1">
											<div class="col span-1-of-4 trip-content trip-content-1">
												<img src="../../resources/assets/img/create-trip-3/test-product.jpg" alt="">
											</div>
											<div class="col span-1-of-4 trip-content trip-content-2">
												<p class="medium">Name</p>
												<p class="medium">Deadline</p>
												<p class="medium">Price</p>
												<p class="medium">Rewards</p>
											</div>
											<div class="col span-1-of-4 trip-content trip-content-3">
												<p>High Quality Pink Stick</p>
												<p>15th Oct 2018</p>
												<p>$200</p>
												<p>$20</p>
											</div>

											<div class="col span-1-of-4 trip-content trip-content-3">
												<p class="time-txt">16 hours ago</p>
												<button class="my-button">
													<p>Edit Details</p>
												</button>
											</div>
											<div class="clear"></div>
										</div>

										<div class="trip trip-1">
											<div class="col span-1-of-4 trip-content trip-content-1">
												<img src="../../resources/assets/img/create-trip-3/test-product.jpg" alt="">
											</div>
											<div class="col span-1-of-4 trip-content trip-content-2">
												<p class="medium">Name</p>
												<p class="medium">Deadline</p>
												<p class="medium">Price</p>
												<p class="medium">Rewards</p>
											</div>
											<div class="col span-1-of-4 trip-content trip-content-3">
												<p>High Quality Pink Stick</p>
												<p>15th Oct 2018</p>
												<p>$200</p>
												<p>$20</p>
											</div>

											<div class="col span-1-of-4 trip-content trip-content-3">
													<p class="time-txt">16 hours ago</p>
												<button class="my-button">
													<p>Edit Details</p>
												</button>
											</div>
											<div class="clear"></div>
										</div>

										<div class="trip trip-1">
											<div class="col span-1-of-4 trip-content trip-content-1">
												<img src="../../resources/assets/img/create-trip-3/test-product.jpg" alt="">
											</div>
											<div class="col span-1-of-4 trip-content trip-content-2">
												<p class="medium">Name</p>
												<p class="medium">Deadline</p>
												<p class="medium">Price</p>
												<p class="medium">Rewards</p>
											</div>
											<div class="col span-1-of-4 trip-content trip-content-3">
												<p>High Quality Pink Stick</p>
												<p>15th Oct 2018</p>
												<p>$200</p>
												<p>$20</p>
											</div>

											<div class="col span-1-of-4 trip-content trip-content-3">
													<p class="time-txt">16 hours ago</p>
												<button class="my-button">
													<p>Edit Details</p>
												</button>
											</div>
											<div class="clear"></div>
										</div>

										<div class="trip trip-1">
											<div class="col span-1-of-4 trip-content trip-content-1">
												<img src="../../resources/assets/img/create-trip-3/test-product.jpg" alt="">
											</div>
											<div class="col span-1-of-4 trip-content trip-content-2">
												<p class="medium">Name</p>
												<p class="medium">Deadline</p>
												<p class="medium">Price</p>
												<p class="medium">Rewards</p>
											</div>
											<div class="col span-1-of-4 trip-content trip-content-3">
												<p>High Quality Pink Stick</p>
												<p>15th Oct 2018</p>
												<p>$200</p>
												<p>$20</p>
											</div>

											<div class="col span-1-of-4 trip-content trip-content-3">
													<p class="time-txt">16 hours ago</p>
												<button class="my-button">
													<p>Edit Details</p>
												</button>
											</div>
											<div class="clear"></div>
										</div>

										<div class="trip trip-1">
											<div class="col span-1-of-4 trip-content trip-content-1">
												<img src="../../resources/assets/img/create-trip-3/test-product.jpg" alt="">
											</div>
											<div class="col span-1-of-4 trip-content trip-content-2">
												<p class="medium">Name</p>
												<p class="medium">Deadline</p>
												<p class="medium">Price</p>
												<p class="medium">Rewards</p>
											</div>
											<div class="col span-1-of-4 trip-content trip-content-3">
												<p>High Quality Pink Stick</p>
												<p>15th Oct 2018</p>
												<p>$200</p>
												<p>$20</p>
											</div>

											<div class="col span-1-of-4 trip-content trip-content-3">
													<p class="time-txt">16 hours ago</p>
												<button class="my-button">
													<p>Edit Details</p>
												</button>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

			</div>

		</div>
	</div>


</body>

</html>
