/* --------------------------------------- */
/* BASIC SETUPS */
/* --------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: #000;
	background-color: #fff;

	font-family: 'Roboto', 'Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;

	text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row-center {
	max-width: 1140px;
	margin: auto;
	padding: 0 2%;
}

.row-full-width {
	width: 100%;
}

/* BUTTON */

.btn {
	display: block;

	width: 200px;
	margin: 20px;
	padding: 12px 30px;

	transition: background-color 0.2s, border 0.2s, color 0.2s;
	text-align: center;
	text-decoration: none;

	border-radius: 4px;

	font-size: 80%;
	font-weight: 500;
}

/* --------------------------------------- */
/* TITLE */
/* --------------------------------------- */

.top-text h2 {
	margin-bottom: 70px;
	padding-left: 50px;
}

/* --------------------------------------- */
/* BODY CONTENT */
/* --------------------------------------- */

.body-container {
	width: 70%;
	margin: auto;
	margin-top: 50px;
}

.body-content {
	width: 50%;
}

.draw-vertical-line {
	padding-left: 50px;

	border-left: 2px solid rgb(238, 238, 238);
}

.body-title h2 {
	display: block;
	letter-spacing: 0.6px;
	font-size: 140%;
}

/* --------------------------------------- */
/* TEXT STYLES */
/* --------------------------------------- */

p {
	display: block;

	margin: 5px 0px;

	letter-spacing: 0.4px;

	font-family: 'Roboto', sans-serif;
	font-size: 65%;
	font-weight: normal;
	line-height: 145%;
}

.body-title p {
	display: block;

	margin-bottom: 70px;
}

/* --------------------------------------- */
/* FORMS */
/* --------------------------------------- */

/* ID AND PASSWORD */

.input-class {
	width: 100%;
	height: 30px;
	margin-top: 7px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;

	text-decoration: none;

	border-bottom: 2.3px solid rgba(213, 213, 213, 0.5);
	border-radius: 2px;
}

input[type = "text"] {
	display: inline-block;

	box-sizing: border-box;
	width: 100%;
	padding: 12px 7px;

	border: none;
	border-bottom: 2px solid rgb(230, 230, 230);
	border-radius: 1px;

	font-size: 70%;
	font-weight: 300;
}

input::placeholder {
	color: rgb(204,204,204);
}

/* LINK TEXT AND PASSWORD TEXT STYLE  */

.password-text {
	display: inline-block;
	float: right;

	padding-top: 3px;

	text-decoration: none;

	color: #079992;

	font-size: 70%;
	font-weight: 500;
}

.link-text {
	display: inline-block;

	padding-top: 3px;

	text-decoration: none;

	color: #0c938c;

	font-size: 80%;
	font-weight: 500;
}

.optional-info {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* --------------------------------------- */
/* ARRIVAL DATES */
/* --------------------------------------- */

.description-bday {
	margin-top: 10px;

	letter-spacing: 0.2px;

	font-size: 80%;
}

.description-signup {
	margin-top: 10px;

	letter-spacing: 0.2px;

	font-size: 75%;
}

.birthday-input-container select {
	border: none;
	border-bottom: 2.3px solid rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	background-image: url("../../resources/assets/img/global-reusable/Asset 3@2x.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 2px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 10px 10px, 10px 10px, 1px 1.5em;

	-webkit-appearance: none;
}

.user_birthday {
	display: block;

	width: 100%;
	height: 44px;
	padding-top: 11px;
	padding-right: 40px;
	padding-bottom: 11px;
	padding-left: 11px;

	color: #000;
	border: none;
	border-bottom: 2px solid rgb(230,230,230);
	border-radius: 0px;
	background-color: transparent;

	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.day-box {
	box-sizing: border-box;
	width: 27.26%;
}

.month-box {
	box-sizing: border-box;
	width: 37.26%;
}

.year-box {
	box-sizing: border-box;
}

.margin-adjust {
	height: 58px;
	margin-top: 10px;
}

/* --------------------------------------- */
/* DESCRIPTION */
/* --------------------------------------- */

.description {
	width: 100%;
	margin: 10px 0;

	border: 2px solid rgb(230,230,230);
}

textarea {
	display: inline-block;

	width: 100%;
	margin: 8px 0;
	padding: 12px 7px;

	border: 1px solid #ccc;
	border-radius: 1px;

	font-size: 90%;
	font-weight: 300;
}

textarea::placeholder {
	color: rgb(204,204,204);

	font-size: 70%;
}

/* PRIVATE INFO TEXT */

.private-info-text {
	cursor: pointer;
	letter-spacing: 0.2px;

	font-size: 60%;
	font-weight: 700;
}

.explain-text {
	padding-left: 18px;

	letter-spacing: 0;

	color: rgb(203,203,203);

	font-size: 60%;
	font-weight: medium;
}

.margin-adjust-private {
	margin-bottom: 15px;
}

/* --------------------------------------- */
/* BUTTONS */
/* --------------------------------------- */

.btn-next:link, .btn-next:visited {
	width: 100%;
	margin-left: 0;

	color: #fff;
	border-radius: 10px;
	background-color: rgb(245,200,176);
}

.btn-next:hover, .btn-next:active {
	background-color: #f1b392;
}

/* --------------------------------------- */
/* HEADINGS */
/* --------------------------------------- */

.box1 h1 {
	display: block;
	float: right;

	margin-top: 100px;
	padding-right: 8px;

	font-size: 320%;
	font-weight: bold;
}

h3 {
	display: block;

	margin-bottom: 15px;

	letter-spacing: 1px;

	font-size: 100%;
	font-weight: 700;
}
