<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./homepage-6.css" />
</head>
<body>
    <div class="background"></div>
    <div class="component">
        <div class="rating-content">
            <div class="rank-1-container">
                <div class="rank-1-name-container">
                    <div class="rank-number-indicator" id="rank-1-indicator">01</div>
                    <div class="rank-1-design-indicator">
                        <img src="../../resources/assets/homepage-6/big-indication-for-rank-1.png" id="rank-1-design-img">
                    </div>
                    <div class="rank-1-logo">
                        <img src="../../resources/assets/homepage-6/big-logo.png" id="rank-1-logo-img">
                    </div>
                    <div class="rank-1-name-details-container">
                        <div class="rank-1-name">Name</div>
                        <div class="rank-1-name-description">Lorem ipsum dolor sit amet </div>
                        <div class="ranking-point-container">
                            <div class="ranking-point">
                                <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                            </div>
                            <div class="ranking-point">
                                <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                            </div>
                            <div class="ranking-point">
                                <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                            </div>
                            <div class="ranking-point">
                                <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                            </div>
                            <div class="ranking-point">
                                <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-1-description-container">
                    <div class="rank-1-des-indicator-container">
                        <img src="../../resources/assets/homepage-6/rank-1-text-indicator.png" id="rank-1-des-indicator-img">
                    </div>
                    <div class="rank-1-des-text-container">
                        <div class="rank-1-des-text" id="des-text-1">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. </div>
                        <div class="rank-1-des-text-separator-container">
                            <img src="../../resources/assets/homepage-6/separator.png" id="rank-1-des-text-separator-img">
                        </div>
                        <div class="rank-1-des-text" id="des-text-2">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut 
                            aliquip ex ea commodo consequat. </div>
                    </div>
                </div>
            </div>
            <div class="ranking-list-container">
                <div class="ranking-list-member-container">
                    <div class="ranking-number-indicator member-number-indicator">02</div>
                    <div class="ranking-member-design-indicator">
                        <img src="../../resources/assets/homepage-6/small-indication-for-other-rank.png" class="ranking-member-design-img">
                    </div>
                    <div class="ranking-member-logo-container">
                        <img src="../../resources/assets/homepage-6/small-logo.png" class="ranking-member-logo-img">
                    </div>
                    <div class="ranking-member-name">Name</div>
                    <div class="member-ranking-point-container">
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                    </div>
                </div>
                <div class="ranking-list-member-container">
                    <div class="ranking-number-indicator member-number-indicator">03</div>
                    <div class="ranking-member-design-indicator">
                        <img src="../../resources/assets/homepage-6/small-indication-for-other-rank.png" class="ranking-member-design-img">
                    </div>
                    <div class="ranking-member-logo-container">
                        <img src="../../resources/assets/homepage-6/small-logo.png" class="ranking-member-logo-img">
                    </div>
                    <div class="ranking-member-name">Name</div>
                    <div class="member-ranking-point-container">
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                    </div>
                </div>
                <div class="ranking-list-member-container">
                    <div class="ranking-number-indicator member-number-indicator">04</div>
                    <div class="ranking-member-design-indicator">
                        <img src="../../resources/assets/homepage-6/small-indication-for-other-rank.png" class="ranking-member-design-img">
                    </div>
                    <div class="ranking-member-logo-container">
                        <img src="../../resources/assets/homepage-6/small-logo.png" class="ranking-member-logo-img">
                    </div>
                    <div class="ranking-member-name">Name</div>
                    <div class="member-ranking-point-container">
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                    </div>
                </div>
                <div class="ranking-list-member-container">
                    <div class="ranking-number-indicator member-number-indicator">05</div>
                    <div class="ranking-member-design-indicator">
                        <img src="../../resources/assets/homepage-6/small-indication-for-other-rank.png" class="ranking-member-design-img">
                    </div>
                    <div class="ranking-member-logo-container">
                        <img src="../../resources/assets/homepage-6/small-logo.png" class="ranking-member-logo-img">
                    </div>
                    <div class="ranking-member-name">Name</div>
                    <div class="member-ranking-point-container">
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                        <div class="ranking-point">
                            <img src="../../resources/assets/homepage-6/rating-point-indicator.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-design-container">
                <div class="design-1-img-container">
                    <img src="../../resources/assets/homepage-6/Design-1.png" id="design-1-img">
                </div>
                <div class="design-2-img-container">
                    <img src="../../resources/assets/homepage-6/Design-2.png" id="design-2-img">
                </div>
                <div class="design-3-img-container">
                    <img src="../../resources/assets/homepage-6/Design-3.png" id="design-3-img">
                </div>
            </div>
            <div class="header-text-container">
                <div class="page-number" id="page-number-6">06</div>
                <div class="page-topic" id="rating-page-topic">TOP RATING SHIPPERS</div>
            </div>
        </div>
    </div>
</body>
</html>