<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="footer.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Home Page 1</title>
</head>

<body>
	<div class="body-wrapper">
		<div class="row footer">
			<div class="row row1">
				<div class="col span-1-of-6 box box1"><a href="">What is Primor?</a></div>
				<div class="col span-1-of-6 box box2"><a href="">Blog</a></div>
				<div class="col span-1-of-6 box box3"><a href="">Collections</a></div>
				<div class="col span-1-of-6 box box4"><a href="">Privacy Policy</a></div>
			</div>
			<div class="row row2">
				<div class="col span-1-of-6 box box1"><a href="">How It Works</a></div>
				<div class="col span-1-of-6 box box2"><a href="">Press</a></div>
				<div class="col span-1-of-6 box box3"><a href="">Testimonials</a></div>
				<div class="col span-1-of-6 box box4"><a href="">Community Perks</a></div>
			</div>
			<div class="row row3">
				<div class="col span-1-of-6 box box1"><a href="">Help Center</a></div>
				<div class="col span-1-of-6 box box2"><a href="">Careers</a></div>
				<div class="col span-1-of-6 box box3"><a href="">Terms of Use</a></div>
				<div class="col span-1-of-6 box box4"><a href="">Trust & Safety</a></div>
			</div>
		</div>
	</div>
</body>

</html>
