<!DOCTYPE HTML>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Header Menu Bar Page</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- Header -->
		<div class="row my-header my-font">
			<div class="col span-1-of-2 main1">
				<ul>
					<li class="col span-1-of-8 header-box item1-container">
						<a href="" class="item1">
							<p>Primor</p>
						</a>
					</li>
					<li class="col span-1-of-8 header-box item2-container"><a href="" class="item2">About</a></li>
					<li class="col span-1-of-8 header-box item3-container"><a href="" class="item3">How It Works</a></li>
					<li class="col span-1-of-8 header-box item4-container"><a href="" class="item4">
								<img src="../../resources/assets/img/header-menu-bar-page/pon_logo.png" alt="">
				</a>
					</li>
					<li class="col span-1-of-8 header-box item5-container"><a href="" class="item5">Create Order</a></li>
					<li class="col span-1-of-8 header-box item6-container"><a href="" class="item6">Create Trip</a></li>
					<li class="col span-1-of-8 header-box item7-container">
						<div class="select-container">
							<select class="item7">
						<option value="English">EN</option>
						<option value="Vietnamese">VN</option>
					</select>
						</div>
					</li>

					<li class="col span-1-of-8 header-box item8-container">
						<a href="#" class="item8">
							<!-- After Login -->
							<div class="user-avatar">
								<img src="../../resources/assets/img/global-reusable/user-chipupu.jpg" alt="">
							</div>
							<!-- Befor Login -->
							<!-- Log In</a> / <a href="#" class="item8">Sign Up</a> -->
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</body>

</html>
