<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./homepage-5.css" />
</head>
<body>
    <div class="body-wrapper">
        <div class="background"></div>
		<div class="component">
			<div class="header">
				<div class="page-number-design-img-container">
					<div class="design-1-img-container">
						<img src="../../resources/assets/homepage-5/design-1.png" id="design-asset-1">
					</div>
					<div class="page-number" id="page-number-5">05</div>
				</div>
				<div class="design-2-img-container">
					<img src="../../resources/assets/homepage-5/design-2.png" id="design-asset-2">
				</div>
				<div class="page-topic" id="trending-order-topic">TRENDING ORDERS</div>
			</div>
			<div class="example-product-list">
				<div class="example-product">
					<div class="example-product-img-container">
						<img src="../../resources/assets/homepage-5/example-product.png" class="example-product-img">
					</div>
					<div>
						<div class="example-product-details example-product-name">Name</div>
						<div class="example-product-details example-product-name">Lorem ipsum dolor sit amet </div>
					</div>
				</div>
				<div class="example-product">
					<div class="example-product-img-container">
						<img src="../../resources/assets/homepage-5/example-product.png" class="example-product-img">
					</div>
					<div>
						<div class="example-product-details example-product-name">Name</div>
						<div class="example-product-details example-product-name">Lorem ipsum dolor sit amet </div>
					</div>
				</div>
				<div class="example-product">
					<div class="example-product-img-container">
						<img src="../../resources/assets/homepage-5/example-product.png" class="example-product-img">
					</div>
					<div>
						<div class="example-product-details example-product-name">Name</div>
						<div class="example-product-details example-product-name">Lorem ipsum dolor sit amet </div>
					</div>
				</div>
				<div class="example-product">
					<div class="example-product-img-container">
						<img src="../../resources/assets/homepage-5/example-product.png" class="example-product-img">
					</div>
					<div>
						<div class="example-product-details example-product-name">Name</div>
						<div class="example-product-details example-product-name">Lorem ipsum dolor sit amet </div>
					</div>
				</div>
				<div class="example-product">
					<div class="example-product-img-container">
						<img src="../../resources/assets/homepage-5/example-product.png" class="example-product-img">
					</div>
					<div>
						<div class="example-product-details example-product-name">Name</div>
						<div class="example-product-details example-product-name">Lorem ipsum dolor sit amet </div>
					</div>
				</div>
				<div class="example-product more-example-product">
					<div class="example-product-img-container">
						<a href="#">
							<img src="../../resources/assets/homepage-5/more-example-product.png" class="example-product-img">
						</a>
					</div>
					<div>
						<div class="example-product-details example-product-name"></div>
						<div class="example-product-details example-product-name"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>