<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="home-page-2.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Home Page 2</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- TOP BODY CONTENT  -->
			<div class="row feature">
				<div class="col span-1-of-6 page-number">
					<h1>02</h1>
				</div>
				<div class="col span-4-of-6 giun">
					<img src="../../resources/assets/home-page-2/giun2.png" alt="">
				</div>
			</div>
		<!-- BOTTOM BODY CONTENT  -->
		<div class="row-of-three">
			<div class="col span-1-of-3 box">
				<div class="greeting-explain-text">
					<h3>HOW <br> IT <br> WORKS</h3>
				</div>
			</div>
			<div class="col span-1-of-3 box right-shift">
				<p>for shippers</p>
				<img src="../../resources/assets/img/home-page-2/forshippers-01.png" class="img">
			</div>
			<div class="col span-1-of-3 box right-shift">
				<p>for buyers</p>
				<img src="../../resources/assets/img/home-page-2/forbuyers-01.png" class="img">
			</div>
		</div>
		<!-- ARROW  -->
		<div class="row arrow-containter">
			<a href="#">
					<img src="../../resources/assets/img/home-page-2/2-down-arrow.png" alt="">
				</a>
		</div>
	</div>
</body>

</html>
